#dashboard {
    background-color: #5a97ba;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-size: 1.8em;
    font-family: 'Merriweather', serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
    background-color: white;

    
}
div.heading{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2.8em;
    margin: 0px auto 50px;
    color: #236187;
}
.container {
    position: relative;
    text-align: center;
    min-width: 100%;
    object-fit: cover;
    
  }
  .top-left {
    font-size: 60px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: transparent;
    color: #236187;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Anton', sans-serif;
    


  }
  .introduction{
     margin:auto;
     max-width: 1200px;
     padding: 20px 5px;
  }
  .working{
    margin:auto;
     max-width: 1200px;
     padding: 20px 5px;
  }

  p.para{
    position:relative;
    font-size: 1.2em;
  }
  h2{
    font-family: 'Anton', sans-serif;
    font-size: 2em;
  }